<body>

                    <section class="slice-xl page-title border-bottom has-bg-cover bg-size-cover" style="background-image: url(<%= asset_path "prv/shop/section-img-1.jpg", alt: "cart header" %>);">
                        <div class="container mask-container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="">
                                        <h3 class="heading heading-1 strong-600 text-capitalize mb-1">
                                            <span>Cart</span>
                                        </h3>

                                        <ol class="breadcrumb breadcrumb--style-2">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#">Shop</a></li>
                                            <li class="breadcrumb-item"><a href="#">Checkout</a></li>
                                        </ol>
                                    </div>

                                    <!-- Fluid text paragraph -->
                                    <div class="pb-4 mt-4">
                                        <p class="lead">
                                            Parturient mus aenean a suspendisse est ligula eu dui a ultricies dictumst porttitor rhoncus a vestibulum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice sct-color-1">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 mt--150">
                                    <form class="form-default" data-toggle="validator" role="form">
                                        <div class="card">
                                            <div class="card-body">
                                                <table class="table-cart">
                                                    <thead>
                                                        <tr>
                                                            <th class="product-image"></th>
                                                            <th class="product-name">Product</th>
                                                            <th class="product-size d-none d-lg-table-cell">Size</th>
                                                            <th class="product-price d-none d-lg-table-cell">Price</th>
                                                            <th class="product-quanity d-none d-md-table-cell">Quantity</th>
                                                            <th class="product-total">Total</th>
                                                            <th class="product-remove"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <!-- Cart item -->

																	<% @single_cart_pics.each do |single_cart_pic| %>

                                                        <tr class="cart-item">
                                                            <td class="product-image">
                                                                <a href="#">
                                                                    <%= image_tag "prv/shop/sportswear/img-2a.png" %>
                                                                </a>
                                                            </td>

                                                            <td class="product-name">
                                                                

																	<%= single_cart_pic.cat_picture.title %>

                                                            </td>

                                                            <td class="product-size product-size d-none d-lg-table-cell">
                                                                <span class="strong-600">M</span>
                                                            </td>

                                                            <td class="product-price d-none d-lg-table-cell">
                                $ <%= single_cart_pic.cat_picture.price %> USD
                                                            </td>

                                                            <td class="product-quantity d-none d-md-table-cell">
                                                                <div class="input-group input-group--style-2 pr-4" style="width: 130px;">
                                                                    <span class="input-group-btn">
                                                                        <button class="btn btn-number" type="button" data-type="minus" data-field="quantity[2]">
                                                                            <i class="ion-minus"></i>
                                                                        </button>
                                                                    </span>
                                                                    <input type="text" name="quantity[2]" class="form-control input-number" placeholder="3" value="2" min="1" max="10">
                                                                    <span class="input-group-btn">
                                                                        <button class="btn btn-number" type="button" data-type="plus" data-field="quantity[2]">
                                                                             <i class="ion-plus"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <td class="product-total">
                                  <span>$ <%= (single_cart_pic.cat_picture.price * 27).to_s %>  USD</span>
                                                            </td>
                                                            <td class="product-remove">
                                                                <a href="#" class="text-right pl-4">
                                 <i class="ion-trash-a"></i>
                                                                </a>
                                                            </td>
                                                        </tr>

																	<% end %>

                                                        <!-- Cart item -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="row align-items-center pt-5">
                                            <div class="col-6">
                                                <a href="#" class="link link--style-3">
                                                    <i class="ion-android-arrow-back"></i>
                                                    Return to shop
                                                </a>
                                            </div>
                                            <div class="col-6 text-right">
                                                <button type="submit" class="btn btn-styled btn-base-1">Proceed to checkout</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->

<!-- SCRIPTS -->
<a href="#" class="back-to-top btn-back-to-top"></a>

<!-- Core -->
<script src="../../assets/vendor/jquery/jquery.min.js"></script>
<script src="../../assets/vendor/popper/popper.min.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../../assets/js/slidebar/slidebar.js"></script>
<script src="../../assets/js/classie.js"></script>

<!-- Bootstrap Extensions -->
<script src="../../assets/vendor/bootstrap-notify/bootstrap-growl.min.js"></script>
<script src="../../assets/vendor/scrollpos-styler/scrollpos-styler.js"></script>

<!-- Plugins: Sorted A-Z -->
<script src="../../assets/vendor/adaptive-backgrounds/adaptive-backgrounds.js"></script>
<script src="../../assets/vendor/countdown/js/jquery.countdown.min.js"></script>
<script src="../../assets/vendor/dropzone/dropzone.min.js"></script>
<script src="../../assets/vendor/easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="../../assets/vendor/fancybox/js/jquery.fancybox.min.js"></script>
<script src="../../assets/vendor/flatpickr/flatpickr.min.js"></script>
<script src="../../assets/vendor/flip/flip.min.js"></script>
<script src="../../assets/vendor/footer-reveal/footer-reveal.min.js"></script>
<script src="../../assets/vendor/gradientify/jquery.gradientify.min.js"></script>
<script src="../../assets/vendor/headroom/headroom.min.js"></script>
<script src="../../assets/vendor/headroom/jquery.headroom.min.js"></script>
<script src="../../assets/vendor/input-mask/input-mask.min.js"></script>
<script src="../../assets/vendor/instafeed/instafeed.js"></script>
<script src="../../assets/vendor/milestone-counter/jquery.countTo.js"></script>
<script src="../../assets/vendor/nouislider/js/nouislider.min.js"></script>
<script src="../../assets/vendor/paraxify/paraxify.min.js"></script>
<script src="../../assets/vendor/select2/js/select2.min.js"></script>
<script src="../../assets/vendor/sticky-kit/sticky-kit.min.js"></script>
<script src="../../assets/vendor/swiper/js/swiper.min.js"></script>
<script src="../../assets/vendor/textarea-autosize/autosize.min.js"></script>
<script src="../../assets/vendor/typeahead/typeahead.bundle.min.js"></script>
<script src="../../assets/vendor/typed/typed.min.js"></script>
<script src="../../assets/vendor/vide/vide.min.js"></script>
<script src="../../assets/vendor/viewport-checker/viewportchecker.min.js"></script>
<script src="../../assets/vendor/wow/wow.min.js"></script>

<!-- Isotope -->
<script src="../../assets/vendor/isotope/isotope.min.js"></script>
<script src="../../assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>



<!-- App JS -->
<script src="../../assets/js/boomerang.min.js"></script>

</body>
