                    <section class="slice-xl page-title border-bottom has-bg-cover bg-size-cover" style="background-image: url(<%= asset_path "prv/shop/section-img-1.jpg", alt: "cart header" %>);">
                        <div class="container mask-container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="">
                                        <h3 class="heading heading-1 strong-600 text-capitalize mb-1">
                                            <span>Order your pussy cart <strong>now</strong></span>
                                        </h3>

                                        <ol class="breadcrumb breadcrumb--style-2">
                                            <li class="breadcrumb-item"><%= link_to "Choisissez  >>", root_path %></li>
                                            <li class="breadcrumb-item"><%= link_to "Commandez  >>", user_cart_path %></li>
                                            <li class="breadcrumb-item"><%= link_to "Achetez", user_cart_path(anchor: "checkout") %></li>
                                        </ol>
                                    </div>

                                    <!-- Fluid text paragraph -->
                                    <div class="pb-4 mt-4">
                                        <p class="lead">Filler text (also placeholder text or dummy text) is text that shares some characteristics of a real written text, but is random or otherwise generated. It may be used to display a sample of fonts, generate text for testing, or to spoof an e-mail spam filter. The process of using filler text is sometimes called greeking, although the text itself may be nonsense, or largely Latin, as in Lorem ipsum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice sct-color-1">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 mt--150">
                                    <form class="form-default" data-toggle="validator" role="form">
                                        <div class="card">
                                            <div class="card-body">
                                                <table class="table-cart">
                                                    <thead>
                                                        <tr>
                                                            <th class="product-image"></th>
                                                            <th class="product-name">Title</th>
                                                            <th class="product-price d-none d-lg-table-cell">Price</th>
                                                            <th class="product-quanity d-none d-md-table-cell">Quantity</th>
                                                            <th class="product-total">Total</th>
                                                            <th class="product-remove"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <!-- Cart item -->

																	<% @single_cart_pics.each_with_index do |single_cart_pic, index| %>

                                                        <tr class="cart-item">
                                                            <td class="product-image">
                                                                <a href="#">
                                                                    <%= image_tag "prv/shop/sportswear/img-2a.png" %>
                                                                </a>
                                                            </td>

                                                            <td class="product-name">
                                                                

																	<%= single_cart_pic.cat_picture.title %>

                                                            </td>

                                                            <td class="product-price d-none d-lg-table-cell">
                                <%= single_cart_pic.cat_picture.price %> €
                                                            </td>

                                                            <td class="product-quantity d-none d-md-table-cell">
                                                                <div class="input-group input-group--style-2 pr-4" style="width: 130px;">
                                                                    <span class="input-group-btn">
																<%= link_to single_cart_pic_path(single_cart_pic, :ope => "-"), method: :patch, class: "btn btn-number", type: "button", data: {type: "minus", field: "quantity[#{index +1 }]"} do %>
                                                                            <i class="ion-minus"></i>
                                                                        <% end %>
                                                                    </span>
                               	<input type="text" name=<%= "quantity[#{index +1 }]" %> class="form-control input-number" placeholder="3" value="<%= single_cart_pic.amount %>" min="1" max="10" >
                                                                    <span class="input-group-btn">
																<%= link_to single_cart_pic_path(single_cart_pic, :ope => "+"), method: :patch, class: "btn btn-number", type: "button", data: {type: "plus", field: "quantity[#{index +1 }]"} do %>
                                                                             <i class="ion-plus"></i>
                                                                        <% end %>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <td class="product-total">
                                <span><%= (single_cart_pic.cat_picture.price * single_cart_pic.amount).to_s %>  €</span>
                                                            </td>
                                                            <td class="product-remove">
                                <%= link_to single_cart_pic_path(single_cart_pic), method: :delete, class: "text-right pl-4" do %>
                                 	<i class="ion-trash-a"></i>
                                <% end %>
                                                            </td>
                                                        </tr>

																<% end %>

                                                        <!-- Cart item -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="row align-items-center pt-5">
                                            <div class="col-6">
<%= link_to cat_pictures_path, class: "link link--style-3"  do %>
                                                    <i class="ion-android-arrow-back"></i>
                                                    Return to shop
<% end %>
                                            </div>
                                            <div class="col-6 text-right">
                               <%= button_to "Order now", new_purchase_path type="submit" class: "btn btn-styled btn-base-1", id: "" %>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->

<!-- SCRIPTS -->
<a href="#" class="back-to-top btn-back-to-top"></a>
