<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <meta name="description" content="Boomerang is a responsive website template based on the well known Bootstrap framework. It's very well structured with lots of features and demos ready to be used.">
        <meta name="keywords" content="bootstrap, responsive, template, website, html, theme, ux, ui, web, design, developer, support, business, corporate, real estate, education, medical, school, education, demo, css, framework">
        <meta name="author" content="THP Sud">
        <title>Myapp</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
        <!-- Bootstrap --><!--
        <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css" type="text/css">
        -->
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
        <!-- Plugins -->
        <!-- <link rel="stylesheet" href="assets/vendor/swiper/css/swiper.min.css">
        <link rel="stylesheet" href="assets/vendor/hamburgers/hamburgers.min.css" type="text/css">
        <link rel="stylesheet" href="assets/vendor/animate/animate.min.css" type="text/css">
        <link rel="stylesheet" href="assets/vendor/fancybox/css/jquery.fancybox.min.css"> -->
        <!-- Icons -->
        <!--     <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="assets/fonts/ionicons/css/ionicons.min.css" type="text/css">
        <link rel="stylesheet" href="assets/fonts/line-icons/line-icons.css" type="text/css"> -->
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
        <!-- <link rel="stylesheet" href="assets/fonts/line-icons-pro/line-icons-pro.css" type="text/css"> -->
        
        <!-- Linea Icons -->
        <!--     <link rel="stylesheet" href="assets/fonts/linea/arrows/linea-icons.css" type="text/css">
        <link rel="stylesheet" href="assets/fonts/linea/basic/linea-icons.css" type="text/css">
        <link rel="stylesheet" href="assets/fonts/linea/ecommerce/linea-icons.css" type="text/css">
        <link rel="stylesheet" href="assets/fonts/linea/software/linea-icons.css" type="text/css"> -->
        <!-- Global style (main) --><!--
        <link id="stylesheet" type="text/css" href="assets/css/boomerang.min.css" rel="stylesheet" media="screen"> -->
        <!-- Custom style - Remove if not necessary -->
        <!-- <link type="text/css" href="assets/css/custom-style.css" rel="stylesheet"> -->
        <!-- Favicon -->
        <!--     <link href="assets/images/favicon.png" rel="icon" type="image/png"> -->
        <%= favicon_link_tag 'favicon.png' %>
    </head>
    <body>
        <!-- emplacement éléments bootstrap, ex : navbar-->
        <div class="container">
            <!-- MAIN WRAPPER -->
            <div class="body-wrap masonry-container">
                <div id="st-container" class="st-container">
                    <nav class="st-menu st-effect-1" id="menu-1">
                        <div class="st-profile">
                            <div class="st-profile-user-wrapper">
                                <div class="profile-user-image">
                                    <%= image_tag "prv/people/person-1.jpg", class:"img-circle" %>
                                </div>
                                <div class="profile-user-info">
                                    <span class="profile-user-name">Bertram Ozzie</span>
                                    <span class="profile-user-email">username@example.com</span>
                                </div>
                            </div>
                        </div>
                        <div class="st-menu-list mt-2">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ion-ios-bookmarks-outline"></i> Theme documentation
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ion-ios-cart-outline"></i> Purchase Tribus
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="st-menu-title">Account</h3>
                        <div class="st-menu-list">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ion-ios-person-outline"></i> User profile
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ion-ios-location-outline"></i> My addresses
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ion-card"></i> My cards
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ion-ios-unlocked-outline"></i> Password update
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="st-menu-title">Support center</h3>
                        <div class="st-menu-list">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ion-ios-information-outline"></i> About Tribus
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ion-ios-email-outline"></i> Contact &amp; support
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-camera"></i> Getting started
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="st-pusher">
                        <div class="st-content">
                            <div class="st-content-inner">
                                <!-- Header -->
                                <div class="header">
                                    <!-- Top Bar -->
                                    <div class="top-navbar">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="aux-text d-none d-md-inline-block">
                                                        <ul class="inline-links inline-links--style-1">
                                                            <li class="d-none d-lg-inline-block">
                                                            Cats e-store                 </li>
                                                            <li>
                                                                <i class="fa fa-envelope"></i>
                                                                <a href="#">antoine@voulezvousdiner.com</a>
                                                            </li>
                                                        </ul>
                                                    </span>
                                                </div>
                                                <div class="col-md-6">
                                                    <nav class="top-navbar-menu">
                                                        <ul class="top-menu">
                                                            <li><a href="/"> Home page</a></li>
                                                            <% unless user_signed_in? %>
                                                            <li><%= link_to new_user_session_path do %>Sign In<% end %></li>
                                                            <li><%= link_to new_user_registration_path do %>Create account<% end %></li>
                                                            <% else %>
                                                           <li><%= link_to user_path(current_user) do  %>Mon profile<%end%></li>
                                                           <%end%>

                                                            
                                                             
                                                            <li class="dropdown">
                                                            <% if current_user %>
                                                                <%= link_to user_cart_path(user_id: current_user.id, id: 125) do%>
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                <% end %>
                                                            <%end%>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Global Search -->
                                    <section id="sctGlobalSearch" class="global-search global-search-overlay">
                                        <div class="container">
                                            <div class="global-search-backdrop mask-dark--style-2"></div>
                                            <!-- Search form -->
                                            <form class="form-horizontal form-global-search z-depth-2-top" role="form">
                                                <div class="px-4">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <input type="text" class="search-input" placeholder="Type and hit enter ...">
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="close-search" data-toggle="global-search" title="Close search bar"></a>
                                            </form>
                                        </div>
                                    </section>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-7 col-md-10 my-2">
                                                <h3 class="heading heading-1 strong-600 text-normal">
                                                Cat pics are
                                                <span id="type_1" class="type-this c-base-1" data-type-this="Cute., Beautiful., Everything."></span>
                                                </h3>
<!--                                                 <h3 class="heading heading-4 c-gray-light strong-300 text-normal">
                                                by Sigmund Freud                                   </h3>
                                                <p class="lead line-height-1_8 mt-5">
                                                    Time spent with cats is never wasted.
                                                </p> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%= yield %>
                                <!-- FOOTER -->
                                <footer id="footer" class="footer footer-inverse">
                                    <div class="footer-bottom bg-white border-top">
                                        <div class="container container-sm">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="copyright text-center">
                                                        Copyright &copy; 2019                        <a href="https://motherfuckingwebsite.com" target="_blank">
                                                            <strong>THP Marseille & Nice</strong>
                                                        </a> -
                                                        All rights reserved
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                        </div><!-- END: st-pusher -->
                    </div>
                    </div><!-- END: body-wrap -->
                    <!-- SCRIPTS -->
                    <a href="#" class="back-to-top btn-back-to-top"></a>
        </div>
    </body>
</html>
