<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= image_tag("https://s3.eu-west-3.amazonaws.com/ecommercethp/18647270.jpg", :alt => "rss feed") %>
  <body>
    <%= yield %>
  </body>
</html>
